{
  "openapi": "3.0.3",
  "info": {
    "title": "SafeWalk U API",
    "version": "1.0.0",
    "description": "Contrato REST de la plataforma web responsive SafeWalk U. Las extensiones x-roles indican los roles autorizados por la aplicación."
  },
  "servers": [
    {
      "url": "https://safewalku.online/api",
      "description": "Servidor de Producción"
    },
    {
      "url": "http://localhost:3000/api",
      "description": "Servidor de Desarrollo Local"
    }
  ],
  "tags": [
    { "name": "Salud" },
    { "name": "Autenticacion" },
    { "name": "Usuarios" },
    { "name": "Reportes" },
    { "name": "Evidencias" },
    { "name": "Rutas" },
    { "name": "Ubicaciones" },
    { "name": "Dashboard" },
    { "name": "Contactos" },
    { "name": "Servicios" },
    { "name": "Lugares" }
  ],
  "components": {
    "securitySchemes": {
      "bearerAuth": {
        "type": "http",
        "scheme": "bearer",
        "bearerFormat": "JWT"
      }
    },
    "schemas": {
      "ApiError": {
        "type": "object",
        "required": ["success", "message"],
        "properties": {
          "success": { "type": "boolean", "example": false },
          "message": { "type": "string" },
          "errors": { "type": "array", "items": {} }
        }
      },
      "RegisterRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["nombre", "apellido", "correo", "contrasena"],
        "properties": {
          "nombre": { "type": "string", "minLength": 2, "maxLength": 100 },
          "apellido": { "type": "string", "minLength": 2, "maxLength": 100 },
          "correo": { "type": "string", "format": "email", "pattern": "@uide\\.edu\\.ec$", "example": "estudiante@uide.edu.ec" },
          "contrasena": { "type": "string", "format": "password", "minLength": 8, "maxLength": 72, "description": "Debe incluir minuscula, mayuscula y numero" }
        }
      },
      "LoginRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["correo", "contrasena"],
        "properties": {
          "correo": { "type": "string", "format": "email", "pattern": "@uide\\.edu\\.ec$" },
          "contrasena": { "type": "string", "format": "password", "minLength": 1, "maxLength": 72 }
        }
      },
      "SwitchRoleRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["rol"],
        "properties": {
          "rol": { "type": "string", "enum": ["ESTUDIANTE", "ADMINISTRADOR"] }
        }
      },
      "UserUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
          "nombre": { "type": "string", "minLength": 2, "maxLength": 100 },
          "apellido": { "type": "string", "minLength": 2, "maxLength": 100 },
          "correo": { "type": "string", "format": "email", "pattern": "@uide\\.edu\\.ec$" }
        }
      },
      "User": {
        "type": "object",
        "properties": {
          "id_usuario": { "type": "integer" },
          "nombre": { "type": "string" },
          "apellido": { "type": "string" },
          "correo": { "type": "string", "format": "email" },
          "rol": { "type": "string", "enum": ["ESTUDIANTE", "ADMINISTRADOR"] },
          "roles": { "type": "array", "items": { "type": "string", "enum": ["ESTUDIANTE", "ADMINISTRADOR"] } },
          "estado": { "type": "string", "enum": ["ACTIVO", "INACTIVO"] },
          "foto_perfil": { "type": "string", "nullable": true }
        }
      },
      "AuthResponse": {
        "type": "object",
        "required": ["success", "token", "usuario"],
        "properties": {
          "success": { "type": "boolean", "example": true },
          "token": { "type": "string", "description": "JWT" },
          "usuario": { "$ref": "#/components/schemas/User" },
          "data": { "type": "object" }
        }
      },
      "ReportCreateRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["descripcion", "nivel_riesgo", "latitud", "longitud", "precision_gps", "fecha_captura_gps"],
        "properties": {
          "descripcion": { "type": "string", "minLength": 5, "maxLength": 500 },
          "nivel_riesgo": { "type": "string", "enum": ["BAJO", "MEDIO", "ALTO"] },
          "latitud": { "type": "number", "minimum": -90, "maximum": 90 },
          "longitud": { "type": "number", "minimum": -180, "maximum": 180 },
          "precision_gps": { "type": "number", "exclusiveMinimum": 0, "maximum": 10000 },
          "fecha_captura_gps": { "type": "string", "format": "date-time" },
          "direccion_aproximada": { "type": "string", "minLength": 3, "maxLength": 255 }
        }
      },
      "ReportUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
          "descripcion": { "type": "string", "minLength": 5, "maxLength": 500 },
          "nivel_riesgo": { "type": "string", "enum": ["BAJO", "MEDIO", "ALTO"] },
          "estado": { "type": "string", "enum": ["PENDIENTE", "VALIDADO", "RECHAZADO", "DUPLICADO"] }
        }
      },
      "SosCreateRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["latitud", "longitud", "precision_gps", "fecha_captura_gps"],
        "properties": {
          "descripcion": { "type": "string", "minLength": 5, "maxLength": 500, "default": "Alerta SOS activada por el usuario" },
          "latitud": { "type": "number", "minimum": -90, "maximum": 90 },
          "longitud": { "type": "number", "minimum": -180, "maximum": 180 },
          "precision_gps": { "type": "number", "exclusiveMinimum": 0, "maximum": 10000 },
          "fecha_captura_gps": { "type": "string", "format": "date-time" },
          "direccion_aproximada": { "type": "string", "minLength": 3, "maxLength": 255 }
        }
      },
      "Report": {
        "type": "object",
        "properties": {
          "id_reporte": { "type": "integer" },
          "descripcion": { "type": "string" },
          "nivel_riesgo": { "type": "string", "enum": ["BAJO", "MEDIO", "ALTO"] },
          "estado": { "type": "string", "enum": ["PENDIENTE", "VALIDADO", "RECHAZADO", "DUPLICADO", "CANCELADO"] },
          "tipo_reporte": { "type": "string", "enum": ["INCIDENTE", "SOS_PANICO"] },
          "id_usuario": { "type": "integer" },
          "id_ubicacion": { "type": "integer" },
          "id_administrador": { "type": "integer", "nullable": true },
          "latitud": { "type": "number" },
          "longitud": { "type": "number" },
          "precision_gps": { "type": "number", "nullable": true },
          "fecha_captura_gps": { "type": "string", "format": "date-time", "nullable": true },
          "fecha_atencion": { "type": "string", "format": "date-time", "nullable": true }
        }
      },
      "ContactRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["nombre", "telefono", "parentesco"],
        "properties": {
          "nombre": { "type": "string", "minLength": 2, "maxLength": 100 },
          "telefono": { "type": "string", "pattern": "^\\+?[0-9][0-9\\s-]{6,19}$" },
          "parentesco": { "type": "string", "enum": ["PADRE", "MADRE", "HERMANO", "HERMANA", "AMIGO", "PAREJA", "OTRO"] }
        }
      },
      "ContactUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
          "nombre": { "type": "string", "minLength": 2, "maxLength": 100 },
          "telefono": { "type": "string", "pattern": "^\\+?[0-9][0-9\\s-]{6,19}$" },
          "parentesco": { "type": "string", "enum": ["PADRE", "MADRE", "HERMANO", "HERMANA", "AMIGO", "PAREJA", "OTRO"] }
        }
      },
      "RoutePoint": {
        "type": "object",
        "additionalProperties": false,
        "required": ["latitud", "longitud"],
        "properties": {
          "latitud": { "type": "number", "minimum": -90, "maximum": 90 },
          "longitud": { "type": "number", "minimum": -180, "maximum": 180 },
          "tipo": { "type": "string", "enum": ["INICIO", "INTERMEDIO", "CRUCE", "APOYO", "DESTINO"] },
          "observacion": { "type": "string", "maxLength": 255 }
        }
      },
      "RouteRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["nombre_ruta", "nivel_seguridad", "tiempo_estimado", "ubicaciones", "puntos"],
        "properties": {
          "nombre_ruta": { "type": "string", "minLength": 3, "maxLength": 100 },
          "descripcion": { "type": "string", "maxLength": 255 },
          "nivel_seguridad": { "type": "string", "enum": ["BAJO", "MEDIO", "ALTO"] },
          "tiempo_estimado": { "type": "integer", "minimum": 1, "maximum": 1440 },
          "ubicaciones": { "type": "array", "minItems": 2, "maxItems": 50, "uniqueItems": true, "items": { "type": "integer", "minimum": 1 } },
          "puntos": { "type": "array", "minItems": 2, "maxItems": 500, "items": { "$ref": "#/components/schemas/RoutePoint" } }
        }
      },
      "RouteUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "minProperties": 1,
        "properties": {
          "nombre_ruta": { "type": "string", "minLength": 3, "maxLength": 100 },
          "descripcion": { "type": "string", "maxLength": 255 },
          "nivel_seguridad": { "type": "string", "enum": ["BAJO", "MEDIO", "ALTO"] },
          "tiempo_estimado": { "type": "integer", "minimum": 1, "maximum": 1440 },
          "ubicaciones": { "type": "array", "minItems": 2, "maxItems": 50, "uniqueItems": true, "items": { "type": "integer", "minimum": 1 } },
          "puntos": { "type": "array", "minItems": 2, "maxItems": 500, "items": { "$ref": "#/components/schemas/RoutePoint" } }
        }
      },
      "LocationUpdateRequest": {
        "type": "object",
        "additionalProperties": false,
        "required": ["nombre", "direccion", "latitud", "longitud"],
        "properties": {
          "nombre": { "type": "string", "minLength": 3, "maxLength": 100 },
          "direccion": { "type": "string", "minLength": 3, "maxLength": 255 },
          "latitud": { "type": "number", "minimum": -90, "maximum": 90 },
          "longitud": { "type": "number", "minimum": -180, "maximum": 180 }
        }
      }
    }
  },
  "paths": {
    "/health": {
      "get": {
        "summary": "Comprobar API y MySQL",
        "tags": ["Salud"],
        "security": [],
        "responses": {
          "200": { "description": "API en línea y estado de MySQL" },
          "503": { "description": "MySQL no disponible" }
        }
      }
    },
    "/auth/register": {
      "post": {
        "summary": "Registrar estudiante institucional",
        "tags": ["Autenticacion"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/RegisterRequest" }
            }
          }
        },
        "responses": {
          "201": { "description": "Usuario registrado" }
        }
      }
    },
    "/auth/login": {
      "post": {
        "summary": "Iniciar sesión",
        "tags": ["Autenticacion"],
        "security": [],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/LoginRequest" }
            }
          }
        },
        "responses": {
          "200": { "description": "Sesión iniciada" }
        }
      }
    },
    "/users/me": {
      "get": {
        "summary": "Consultar perfil actual",
        "tags": ["Usuarios"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ESTUDIANTE", "ADMINISTRADOR"],
        "responses": { "200": { "description": "Perfil actual" } }
      }
    },
    "/reports": {
      "get": {
        "summary": "Listar reportes accesibles",
        "tags": ["Reportes"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ESTUDIANTE", "ADMINISTRADOR"],
        "responses": { "200": { "description": "Reportes accesibles" } }
      },
      "post": {
        "summary": "Crear reporte de incidente",
        "tags": ["Reportes"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ESTUDIANTE", "ADMINISTRADOR"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReportCreateRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Reporte creado" } }
      }
    },
    "/reports/{id}": {
      "get": {
        "summary": "Consultar reporte accesible",
        "tags": ["Reportes"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ESTUDIANTE", "ADMINISTRADOR"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 1 } }],
        "responses": { "200": { "description": "Reporte encontrado" } }
      },
      "put": {
        "summary": "Revisar/Actualizar estado de reporte",
        "tags": ["Reportes"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ADMINISTRADOR"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 1 } }],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ReportUpdateRequest" }
            }
          }
        },
        "responses": { "200": { "description": "Reporte actualizado" } }
      }
    },
    "/routes": {
      "get": {
        "summary": "Listar rutas seguras",
        "tags": ["Rutas"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ESTUDIANTE", "ADMINISTRADOR"],
        "responses": { "200": { "description": "Rutas seguras disponibles" } }
      }
    },
    "/routes/{id}": {
      "get": {
        "summary": "Consultar detalles de una ruta",
        "tags": ["Rutas"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ESTUDIANTE", "ADMINISTRADOR"],
        "parameters": [{ "name": "id", "in": "path", "required": true, "schema": { "type": "integer", "minimum": 1 } }],
        "responses": { "200": { "description": "Ruta encontrada" } }
      }
    },
    "/ubicaciones": {
      "get": {
        "summary": "Listar ubicaciones registradas",
        "tags": ["Ubicaciones"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ESTUDIANTE", "ADMINISTRADOR"],
        "responses": { "200": { "description": "Ubicaciones disponibles" } }
      }
    },
    "/contacts": {
      "get": {
        "summary": "Listar contactos de apoyo del usuario",
        "tags": ["Contactos"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ESTUDIANTE", "ADMINISTRADOR"],
        "responses": { "200": { "description": "Contactos propios" } }
      },
      "post": {
        "summary": "Crear contacto de emergencia",
        "tags": ["Contactos"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ESTUDIANTE", "ADMINISTRADOR"],
        "requestBody": {
          "required": true,
          "content": {
            "application/json": {
              "schema": { "$ref": "#/components/schemas/ContactRequest" }
            }
          }
        },
        "responses": { "201": { "description": "Contacto creado" } }
      }
    },
    "/services": {
      "get": {
        "summary": "Listar servicios de emergencia",
        "tags": ["Servicios"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ESTUDIANTE", "ADMINISTRADOR"],
        "responses": { "200": { "description": "Servicios de emergencia" } }
      }
    },
    "/places": {
      "get": {
        "summary": "Listar lugares seguros",
        "tags": ["Lugares"],
        "security": [{ "bearerAuth": [] }],
        "x-roles": ["ESTUDIANTE", "ADMINISTRADOR"],
        "responses": { "200": { "description": "Lugares seguros" } }
      }
    }
  }
}
